body, html {
    width: 100%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 25px;
    display: grid;
    text-align: left;
    background-color: #cbdbcd;
  }

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

@font-face {
    font-family: myFirstFont;
    src: url(sage-webfont.ttf);
}

@font-face {
    font-family: mySecondFont;
    src: url(HV\ Harietta\ Regular.ttf);
}

@font-face {
  font-family: myThirdFont;
  src: url(IridescentSansSerif-Regular.otf);
}

@font-face {
  font-family: myFourthFont;
  src: url(Classico.otf);
}

h1 {
    font-weight: lighter;
    font-size: 34pt;
    text-align: center;
    font-family: myFirstFont;
    padding: 10px;
  }

nav {
  margin-left: 250px;
  margin-bottom: 25px;
}

button {
  border: none;
  background-color: #cbdbcd;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18pt;
  font-weight: lighter;
}

button:hover {
  background-color: #4e6350;
  color: white;
}

form {
  font-weight: lighter;
  font-size: 16pt;
  margin-left: 250px;
  margin-top: 25px;
}

input[type=text] {
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
}

.items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-count: 2;
  height: 800px;
}

.minimalist {
    background-image: url('Wedding_invite_plain.jpg');
    background-repeat: no-repeat;
    background-size: 500px, auto;
  }

.minimalist{
  font-family: mySecondFont;
  font-size: 16pt;
  text-align: center;
  text-transform: uppercase;
  padding-top: 300px;
  padding-right: 300px;
  padding-left: 100px;
}
  
.rose {
    background-image: url('Wedding_invite_rose.jpg');
    background-repeat: no-repeat;
    background-size: 500px, auto;
  }

  .rose {
    font-family: myThirdFont;
    font-size: 15pt;
    padding-top: 225px;
    padding-left: 250px;
    padding-right: 250px;
  }
  
.vintage {
    background-image: url('Wedding_invite_art_deco.jpg');
    background-repeat: no-repeat;
    background-size: 500px, auto;
  }

  .vintage{
    font-family: myFourthFont;
    font-size: 14pt;
    text-align: center;
    color: antiquewhite;
    padding-top: 250px;
    padding-right: 350px;
    padding-left: 150px;
  }